LLM_KEY="API KEY"
BASE_URL="api base url" # like: https://integrate.api.nvidia.com/v1/chat/completions
CORS_ORIGIN=["frontend hosted url"]
SYSTEM_PROMPT="your instruction which ai model must follows strictly"
AI_MODEL="model name" # like: bytedance/seed-oss-36b-instruct